<div class="min-h-screen bg-gray-100">

  <div class="h-screen flex justify-center items-center">
    <div
      cdkDropList
      #sourceList="cdkDropList"
      [cdkDropListData]="sourcePlayers"
      [cdkDropListConnectedTo]="[playerList]"
      class="flex gap-2"
      (cdkDropListDropped)="drop($event)"
    >
      @for (item of sourcePlayers; track item) {
        <div
          class="w-30 h-10 bg-white border border-gray-200 shadow-xl p-3 cursor-move select-none"
          cdkDrag
        >
          {{item}}
        </div>
      }
      
    </div>

    <div 
      cdkDropList
      #playerList="cdkDropList"
      [cdkDropListData]="players"
      [cdkDropListConnectedTo]="[sourceList]"
      class="ml-2 border border-gray-200 shadow-xl example-list" 
      (cdkDropListDropped)="drop($event)"

    >
      @for (player of players; track player) {
        <div class="border bg-white w-40 h-15 border-gray-200 shadow-xl p-3 cursor-move select-none" 
          cdkDrag
        >
          {{ player }}

        </div>
      }
    </div>
    
  </div>
  
</div>
